.formsl2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 52rem;
    color: var(--color-marine);
    text-align: center;
    gap: 2rem;
}

.formsl2__title{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    max-width: 40rem;
}

.formsl2__card{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: fit-content;
    padding: 2rem;
    border: 2px solid var(--shadow);
    border-radius: 1rem;
    color: var(--color-marine);
    text-align: left;
    min-width: 50rem;
}

.formsl2__card:has(input:checked){
    border-color: var(--color-turquoise);
}

.formsl2__card-payment{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.formsl2__card-name{
    font-size: 1.1rem;
    font-weight: bold;
}

.formsl2__card-description{
    margin-left: 1.6rem;
    color: var(--color-grey);
    font-size: 1rem;
    line-height: 1.7rem;
}

.formsl2__card-logos{
    display: flex;
    align-items: start;
    flex-direction: row;
    column-gap: 1rem;
}

.formsl2__card-registration{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.formsl2__card-info{
    margin-left: 1.6rem;
}

.formsl2__card-info-space{
    display: flex;
    justify-content: space-between;
}

.formsl2__card-title{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.formsl2__card-border{
    padding: 0.4rem 1.25rem;
    background-color: transparent;
    border-style: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.formsl2__card-border--set {
    width: 20rem;
    height: 2rem;
    border: 1px solid var(--color-grey);
    border-radius: 2rem;
}

.formsl2__card-border--set:focus {
    border-color: var(--color-black);
}

.formsl2__card-code{
    width: 3rem;
}

.formsl2__card-button{
    opacity: 0;
    margin-left: 7.6rem;
    padding: 0.8rem 2rem;
    background-color: var(--color-turquoise);
    border-radius: 2rem;
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    transition: 300ms;
}

.formsl2__card-button:hover{
    background-color: var(--color-turquoise-hover);
    transition: 300ms;
}

.formsl2__card:has(input:checked) .formsl2__card-button{
    opacity: 100%;
}