@import "../reset.css";
@import "../variables.css";

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    color: var(--color-marine);
    text-align: center;
}

.block__content {
    margin: 0 auto;
    max-width: 40rem;
}

.block__title{
    font-size: 2rem;
    font-weight: bold;
}

.block__text{
    color: var(--color-grey);
    font-size: 1.2rem;
    font-weight: bold;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    color: var(--color-marine);
    max-width: 30rem;
    gap: 3rem;

}

.card__elt{
    height: 20rem;
    border-radius: 1rem;
    list-style: none;
}

.card__title{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card__text{
    color: var(--color-grey);
    font-size: 1rem;
    line-height: 1.7rem;
}

.card__img{
    width: 23.125rem;
    height: 9.375rem;
    border-radius: 1rem;
    object-fit: cover;
}
