@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

:root{
    --color-grey: rgba(21,20,57,.4);
    --color-grey-hover: rgb(240, 240, 240);
    --color-white: rgb(255,255,255);
    --color-turquoise: #25DAC5;
    --color-turquoise-hover: #1fb1a0;
    --color-blue-secondary: #482BE7;
    --color-blue-hover: #95a9ff;
    --color-marine: #1E0E62;
    --bg-color-blue: #2F1893;
    --color-pink: #E93A7D;
    --color-pink-hover: #af2e5f;
    --color-black: rgb(0, 0, 0);
    --shadow:rgba(0, 0, 0, 0.2);
}
