.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    background-color: var(--bg-color-blue);
    background-image: var(--bg-content);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    text-align: center;
}

.content__title{
    font-size: 3rem;
    font-weight: bold;
    max-width: 40rem;
}

.content__text{
    opacity: 60%;
    font-size: 1.2rem;
    max-width: 33rem;
}