.pricing_table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    color: var(--color-marine);
    text-align: center;
}

.pricing_table__content {
    max-width: 40rem;
}

.pricing_table__title{
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: bold;
}

.pricing_table__text{
    color: var(--color-grey);
    font-size: 1.1rem;
    font-weight: bold;
}

.pricing_table__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 1px var(--color-grey);
    color: var(--color-marine);
    text-align: center;
    list-style: none;
}

.pricing_table__card-title{
    font-size: 1.6rem;
    font-weight: bold;
}

.pricing_table__card-subtitle{
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.pricing_table__card-text{
    width: 21rem;
    margin-right: 3rem;
    margin-left: 3rem;
    color: var(--color-grey);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.7rem;
}

.pricing_table__card-button{
    margin: 0rem 0.6rem;
    margin-bottom: 2rem;
    padding: 0.6rem 2rem;
    background-color: var(--color-blue-secondary);
    border-radius: 1.25rem;
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}

.pricing_table__card-button:hover{
    background-color: var(--color-marine);
    transition: 300ms;
}