.contactl2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    color: var(--color-grey);
    text-align: center;
}

.contactl2__title{
    color: var(--color-marine);
    font-size: 2.2rem;
    font-weight: bold;
}

.contactl2__text{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contactl2__input{
    width: 10rem;
    margin: 0 0.6rem;
    padding: 0.6rem 1.25rem;
    background-color: transparent;
    border-style: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.contactl2__border{
    border: 1px solid var(--color-grey);
}

.contactl2__border:focus{
    border-color: var(--color-black);
}

.contactl2__mail{
    margin-top: 2rem;
}

.contactl2__border--message {
    width: 32rem;
    padding-bottom: 10rem;
    border-radius: 0.8rem;
}

.contactl2__border--email {
    width: 20rem;
    height: 2rem;
    border-radius: 2rem;
}

.contactl2__button{
    margin: 0rem 0.6rem;
    padding: 1rem 4rem;
    background-color: var(--color-turquoise);
    border-radius: 2rem;
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    transition: 300ms;
}

.contactl2__button:hover{
    background-color: var(--color-turquoise-hover);
    color: var(--color-white);
    transition: 300ms;
}

.contactl2__place{
    margin: 2rem;
}

.contactl2__locations{
    display: flex;
    flex-direction: row;
}

.contactl2__city{
    width: 20rem;
    color: var(--color-marine);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contactl2__adress{
    width: 20rem;
    font-size: 1rem;
}