.call-to-actionl3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    background-image: linear-gradient(var(--bg-color-img),var(--bg-color-img)), var(--bg-call_to_actionl3);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    text-align: center;
}

.call-to-actionl3__title{
    font-size: 2.2rem;
    font-weight: bold;
}

.call-to-actionl3__text{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.call-to-actionl3__video{
    width: 31.5625rem;
    height: 19.6875rem;
    border-radius: 1rem;
}

.call-to-actionl3__place{
    margin: 2rem;
}

.call-to-actionl3__locations{
    display: flex;
    flex-direction: row;
}

.call-to-actionl3__city{
    width: 20rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.call-to-actionl3__adress{
    width: 20rem;
    font-size: 1rem;
}