.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-color: var(--bg-color-blue);
    background-image: var(--bg-hero);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    text-align: left;
}

.hero__content {
    max-width: 30rem;
}

.hero__title{
    margin-top: 0;
    font-size: 3rem;
    font-weight: bold;
}

.hero__text{
    font-size: 1.2rem;
}

.hero__button-content{
    display: flex;
    justify-content: left;
}

.hero__button{
    margin: 0 0.6rem;
    padding: 0.6rem 1.25rem;
    border-radius: 1.25rem;
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.--button__white {
    background-color: var(--color-white);
    color: var(--color-blue-secondary);
}

.--button__white:hover {
    background-color: var(--color-blue-hover);
}

.--button__transparent {
    background-color: transparent;
    border: 1px solid var(--color-white);
}

.--button__transparent:hover {
    background-color: var(--color-white);
    color: var(--color-blue-secondary);
}