.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    color: var(--color-marine);
    text-align: center;
}

.call-to-action__content {
    max-width: 35rem;
}

.call-to-action__title{
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.call-to-action__text{
    margin-bottom: 2rem;
    color: var(--color-grey);
    font-size: 1.2rem;
}

.call-to-action__button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-to-action__button{
    margin: 0rem 0.6rem;
    padding: 0.6rem 1.25rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.call-to-action__button--transparent {
    background-color: transparent;
    color: var(--color-grey);
    transition: 300ms;
}

.call-to-action__button--transparent:hover {
    background-color: var(--color-grey-hover);
    color: var(--color-grey);
    transition: 300ms;
}

.call-to-action__button--turquoise {
    background-color: var(--color-turquoise);
    color: var(--color-white);
    transition: 300ms;
}

.call-to-action__button--turquoise:hover {
    background-color: var(--color-turquoise-hover);
    color: var(--color-white);
    transition: 300ms;
}